section.cards{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:138px;
}

.heading{
    width:37%;
    text-align: center;
    padding-left:20px;
    margin-bottom:13px;
}

.heading p{
    font-size:40px;
}

.heading span{
    font-weight: 400;
}

.cards-container{
    width:61%;
    padding-top:40px;
    margin-bottom:85px;
}

.card{
    width:362px;
    height:288px;
    background-color: #EDF7FF;
    padding-top:37px;
    padding-left:42px;
}

.card:hover{
    border:3px solid #EE3364;
    box-shadow: 5px 9px 24px -1px rgba(0,0,0,0.5);
}

.card p{
    font-size:25px;
    margin-bottom:28px;
}

.card-2 p{
    padding-left:5px;
}

.card-3 p{
    margin-bottom:23px;
}

.card span{
    font-size:15px;
}

.icon{
    width:85px;
    height:85px;
    border-radius:50%;
    background-color: #fff;
    margin-bottom:10px;
    position:relative;
}

.icon i{
    position:absolute;
    top:23px;
}

.icon img{
    position:absolute;
    top:27px;
}

.card-1 i{
left:18px;
}

.card-2 img{
    left:19px;
}

.card-3 img{
    left:15px;
}

.icon:hover{
    background-color: #EE3364;

}

.icon i:hover{
    color:white;
}

.icon img:hover{
    filter:brightness(0) invert(1);
}


.fa-piggy-bank{
    color:red;
    width:40px;
}

.services-btn{
    width:204px;
    height:65px;
    margin-left:10px;
    font-size:13px;
    padding-left:13px;
    
}