.info{
    width:100%;
    height:33px;
    margin-bottom:12px;
}

.info .container{
    width:100%;
    padding:12px 375px; 
    justify-content: space-between;
}

.contact{
    width:35%;
    justify-content: space-between;
}

.contact span{
    font-size: 16px;
}

.fa-envelope{
    color:#999999;
    margin-right:20px;
}

.fa-phone-volume{
    color:#999999;
    margin-right:15px;
    transform: rotate(-45deg);
    position:absolute;
    top:12px;
    left:620px;
   
}

.social-media{
    width:20%;
    transform: translateX(107px);
}

.social-media li:not(:last-child){
    margin-right:19px;
}


.fa-google-plus-g{
    color:#B8B8B8;
}

.social-media a:hover{
    color:#EE3364;
}
