section.numbers{
    background-color: #1B1B1B;
    color:white;
    padding:82px 0;
}

.numbers-container{
    flex-wrap: wrap;
    align-content: center;
}

.item{
    width:25%;
    text-align: center;
    align-items: center;
}

.icon-frame{
    width:90px;
    height:90px;
    border-radius: 50%;
    background-color: #2D2C2C;
}

.icon-frame i{
    color:#FF434B;
}

.regular{
    font-size:24px;
    font-weight: 400;
}

.large{
    font-size:50px;
    font-family: 'glacial indifference';
    margin-top:10px;
}

.crown .large{
    margin-top:5px;
    letter-spacing: 0.5px;
}

@media(max-width:1200px){
    .icon-frame{
        background-color: transparent;
    }

    .large{
        font-size:45px;
    }
}

@media(max-width:1000px){
    .large{
        font-size:30px;
    }

    .regular{
        font-size:20px;
    }
}

@media(max-width:700px){
    .numbers-container{
        flex-direction: column;
    }

    .item{
        width:80%;
        margin-bottom:40px;
    }
}

@media(max-width:322px){
    section.numbers .container{
        width:100%;
        padding:0 20px;
    }

    .large{
        font-size:28px;
    }

    .regular{
        font-size: 16px;
    }
}



