

.team-container{
    width:100%;
    height:100%;
    max-height:100vh;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(400px, auto);
}

.designer:nth-child(odd){
    background-color: #BBBBBB;
}

.designer:nth-child(even){
    background-color: #D0D0D0;
}

.designer{
    height:100%;
    cursor: pointer;
}

.designer:hover{
    background-color: #D8315D;
    color:white;
    border:10px solid #242424;
}

.designer-text{
    height:100%;
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.designer-text:hover{
    opacity:1;
}

.designer-name{
    font-size:35px;
    margin-bottom:7px;
}

.job{
    font-size:20px;
    display:inline-block;
    margin-bottom:27px;
}

.social-icons{
    width:25%;
    margin:0 auto;
    align-items: center;
}

@media(max-width:1000px){
    .team-container{
        grid-template-columns: repeat(3,1fr);
        gap:20px;
        max-height: 1000000vh;
    }
}

@media(max-width:700px){
    .team-container{
        grid-template-columns: repeat(2, 1fr);
        width:60%;
        margin:0 auto;
        gap:15px; 
       
    }

    .designer-name{
        font-size:20px;
    }
}

@media(max-width:400px){
    .team-container{
        width:80%;
        grid-template-columns: 1fr;
        grid-auto-rows:300px;
    }
}
