section.video{
  background-color: #FF434B;
  color:white;
  padding:150px;
  text-align: center;
}

.video-container span{
    display: inline-block;
    margin-bottom: 8px;
}

.video-container p{
    font-size: 44px;
    line-height: 48px;
    max-width:600px;
    margin:0 auto;
    margin-bottom:90px;
   

}

p.small{
    font-size:14px;
    margin-bottom:0;
}

.video-container img{
    margin-bottom:36px;
}

@media(max-width:900px){

    section.video{
        padding:50px 0;
    }
    .video-container p{
    font-size:36px;
    line-height: 40px;
    }

    p.small{
        font-size:12px;
    }
}

@media(max-width:400px){
    .video-container p{
        font-size:28px;
    }

    p.small{
        font-size:10px;
    }
}

@media(max-width:322px){
    section.video .video-container{
        width:100%;
        padding:0 20px;
    }
}