*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'MuliRegular';
    color:#2e2e2e;
}

.wrapper{
    background-image: radial-gradient(circle at center, #ff5481 0%, #0c09c6 100%);
}

section{
    width:100%;
}

/* img{
    max-width:100%;
} */

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#0A0909;
}

p{
    font-family: 'glacial indifference';
    font-weight:bold;
}

.flex{
    display:flex;
}

.grid{
    display: grid;
}

.justify-content{
    justify-content: space-between;
}

button{
    border:none;
    text-align: center;
    color:white;
    background-color:#EE3364;
    font-weight:bold;
    font-size:12px;
    letter-spacing: 1px;
    cursor:pointer;
}
