.request-call{
    padding:150px 0;
}

.request-container img{
    align-self: flex-start;
    width:40%;
}

.request-text{
    width:50%;
}

.request-heading{
    font-size:49px;
    line-height:53px;
    padding-top:48px;
    max-width:760px;
    letter-spacing: -2px;
    margin-bottom:22px;
}

.request-desc{
    display: inline-block;
    font-size:17px;
    line-height:28px;
    padding-left:3px;
    max-width:702px;
    margin-bottom:43px;
}

.request-heading span{
    color:#EE3364;
}



.form-container{
    grid-template-columns: repeat(2, minmax(auto, 300px));
    grid-auto-rows: 54px;
    gap:22px;
}

select,
input:not(:last-child){
    border:none;
    background-color: rgba(0, 0, 0, 0.11);
    padding-left: 29px;
    padding-right:20px;
    padding-bottom:3px;
    color:#3B3B3B;
}

.dropdown{
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.dropdown i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:28px;
    z-index: -1;
}

select{
    width:320px;
    height:54px;

}



input:focus{
    outline: none;
    background-color: transparent;
}

select:focus{
    outline: none;
    background-color: transparent;
}

@media(max-width:1000px){
    .request-call{
        padding:100px 0;
    }

    .request-heading{
        font-size:30px;
        line-height: 30px;
        margin-bottom:10px;
    }

    .request-desc{
        font-size:14px;
        line-height: 20px;
        margin-bottom:10px;
    }

    .request-container img{
        align-self: center;
    }

    .form-container{
        gap:15px;
        grid-template-columns: 300px;
    }
}

@media(max-width:790px){
    .request-container img{
        display:none;
    }

    .request-text{
        width:100%;
    }

    .request-heading{
        font-size:40px;
        line-height: 40px;
        margin-bottom:20px;
    }
}

@media(max-width:700px){
    .request-desc{
        margin-bottom:30px;
    }
}


@media(max-width:400px){
    section.request-call{
        padding:50px 0;
    }

    section.request-call .container{
        width:100%;
        padding:0 20px;
    }

    .form-container{
        gap:10px;
        grid-template-columns: 200px;
    }

    .select{
        width:220px;
    }

   .request-heading{
    font-size: 30px;
   }

}

