section.innovation{
    padding:130px 0;
}



.layers{
    position:relative;
    width:45%;
}

.layer{
    width:422px;
    height:544px;
    background-color: #FFA723;
    box-shadow: 1px 1px 35px 15px rgba(0,0,0,0.1);
}

.front{
    position:absolute;
    top:48px;
    left:75px;
}

.innovation-text{
    width:45%;
}

.innovation-text p{
    font-size:45px;
    margin-bottom:34px;
    line-height: 43px;
}

.innovation-text span{
    line-height: 25px;
    display:inline-block;
    margin-bottom:2px;

}

.innovation-text ul{
    margin-bottom:45px;
}

.innovation-text ul p{
    font-size:17px;
    display: inline-block;
    margin:0;
}

.innovation-text i{
   margin-right:15px;
   color:#EE3364;
}

.innovation-text button{
    width:181px;
    height:50px;
    padding-left:8px;
}

@media(max-width:1200px){
    .layer{
        width:320xp;
        height:500px;
    }

    .front{
        top:28px;
        left:35px;
    }
}

@media(max-width:1100px){
  

   .innovation-text{
    width:45%;
   }

   .layer{
    width:300px;
    height:400px;
   }

    .front{
        top:48px;
        left:40px;
    }
}

@media(max-width:1000px){
    .innovation-text p{
        font-size:30px;
        line-height: 35px;
        margin-bottom:10px;
    }

    .innovation-text span{
        font-size:14px;
        line-height: 25px;
        margin-bottom:10px;
    }
}

@media(max-width:900px){
    .innovation-text li p{
        font-size:14px;
    }
}

@media(max-width:850px){
    .layers{
        display:none;
    }

    .innovation-text{
        width:100%;
        text-align: center;
    }

    .innovation-text ul{
        text-align: left;
    }
}

@media(max-width:400px){

    section.innovation{
        padding:50px 0;
    }
    section.innovation .container{
        width:100%;
        padding:0 20px;
    }
}