section.highlight-showcase{
    background-color: #F2F2F2;
    padding:135px 0;
    text-align: center;
}

.highlight-container button{
    width:180px;
    height:57px;
    font-size:13px;
}

.red{
    font-size:15px;
    color:#EE4B76;
    margin-bottom:5px;
}

.big{
    font-size:65px;
    color:#222222;
    margin-bottom:50px;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 725px;
    color:white;
    margin-bottom:138px;
}

.grid-item{
    position:relative;
    cursor: pointer;
}

.grid-item span{
    font-size: 20px;
}

.grid-container .one{
    background-color: #545556;
}

.grid-container .two{
    background-color: #D3D3D3;
}

.grid-container .three{
    background-color: #575757;
}

.grid-container .four{
    background-color: #383838;
}

.grid-container .five{
    background-color: #383838;
}

.grid-container .six{
    background-color: #3D3D3D;
}

.grid-text{
    text-align:center;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
}

.grid-text:hover{
    opacity:1;
}

.red-small{
   font-size:15px;
   font-weight: 400;
   color:#EE4B76;
   margin-bottom:20px;
}

.large-font{
   font-size:48px;
   margin-bottom:17px;
}

.grid-text span{
    font-size:20px;
    display: inline-block;
    margin-bottom:31px;
    padding-right:15px;
    width:61%;
}

.grid-text img{
    display:block;
}

@media(max-width:900px){
    section.highlight-showcase{
        padding:80px 0;
    }

    .grid-container{
        grid-auto-rows: 450px;
    }

    .large-font{
        font-size:24px;
    }

    .grid-item span{
        font-size:16px;
    }

    .big{
        font-size:45px;
    }
}

@media(max-width:700px){
    .grid-container{
        grid-template-columns: 1fr;
        gap:15px;
    }
}

@media(max-width:400px){
    section.highlight-showcase  .highlight-container{
        width:100%;
        padding:0 20px;
    }

    .big{
        font-size:28px;
    }

    .grid-container{
        margin-bottom: 20px;
    }
}



