section.cards{
    text-align: center;
    margin-bottom:138px;
}

.heading{
   
    max-width:500px;
    margin: 0 auto;
    margin-bottom:50px;
}

.heading p{
    font-size:40px;
}

.heading span{
    font-weight: 400;
}

.cards-container{
    width:100%;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom:100px;
}

.card{
    max-width:362px;
    background-color: #EDF7FF;
    padding:45px;
    text-align: center;
   
}

.card:hover{
    border:3px solid #EE3364;
    box-shadow: 5px 9px 24px -1px rgba(0,0,0,0.5);
}

.card p{
    font-size:25px;
    margin-bottom:28px;
}

.card span{
    font-size:15px;
}

.icon{
    width:85px;
    height:85px;
    border-radius:50%;
    background-color: #fff;
    margin-bottom:10px;
}

.diamond{
    filter:invert(1);
}




.icon:hover{
    background-color: #EE3364;

}

.icon img:hover{
    filter:brightness(0) invert(1);
}

.services-btn{
    width:204px;
    height:65px;
    font-size:13px;
    
}

@media(max-width:1395px){
    .card{
        margin-bottom:20px;
    }
}

@media(max-width:900px){
    .cards-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading p{
        font-size:34px;
    }

    .card p{
        font-size:18px;
    }

    .services-btn{
        width:150px;
        height:50px;
        font-size:10px;
    }
}

@media(max-width:400px){
    section.cards {
        padding:50px 0;
        margin-bottom:0;
    }

    section.cards .container{
        width:100%;
        padding:0 20px;
    }

    .cards-container{
        margin-bottom:30px;
    }

    .heading p{
        font-size:28px;
    }
}
